.App {
  font-family: "Oswald", sans-serif;
  text-align: center;
  color: #282c34;
  padding: 0px 20px 0px 20px;
}

.header {
  height: wrap-content;
  display: flex;
  margin-bottom: 100px;
  flex-direction: column;
  width: 100%;
  text-align: start;
  justify-content: top;
  color: #282c34;
}

h1 {
  margin: 0px 20px 0px 20px;
  font-size: calc(10px + 6vmin);
}

h2 {
  margin: 0px 20px 0px 20px;
  font-size: calc(10px + 3vmin);
}

.main-container {
  display: flex;
  width: 100%;
  margin-top: 50px;
  justify-content: space-around;
}

.section-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.section-container.left {
  width: calc(100% - 0px);
  flex-grow: 1;
  flex-basis: 66.666%;
  margin: 0px 0px 40px 0px;
  display: flex;
  flex-wrap: wrap;
}

.section-container.right {
  width: calc(100% - 0px);
  flex-grow: 1;
  flex-basis: 33.333%;
  display: flex;
  padding-bottom: 20px;
  align-items: center;
  height: max-content;
}

p {
  margin: 0px 0px 10px 0px;
  font-size: calc(12px + 1.5vmin);
  font-weight: 900;
}

@media screen and (max-width: 768px) {
  .main-container {
    flex-direction: column;
  }

  h1 {
    font-size: calc(10px + 4vmin);
  }

  h2 {
    font-size: calc(10px + 2vmin);
  }

  .container-left,
  .container-right {
    flex-basis: auto; /* Reset flex-basis for full width on smaller screens */
  }

  .container-left {
    align-items: center;
  }
}
