.App {
  font-family: "Oswald", sans-serif;
  text-align: center;
  color: #282c34;
  width: 100vw;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  position: relative;
  width: 100%;
  border: 0px;
  display: flex;
  margin-bottom: 20px;
  flex-direction: column;
  text-align: start;
  justify-content: top;
  color: #282c34cb;
}

h1 {
  margin: 0px 20px 0px 20px;
  font-size: calc(10px + 6vmin);
}

h2 {
  margin: 0px 20px 0px 20px;
  font-size: calc(10px + 3vmin);
}

.main-container {
  position: relative;
  display: flex;
  width: 100%;
  margin-bottom: 5rem;
  justify-content: space-around;
  flex: 1;
}

.container-full-screen {
  position: relative;
  width: 33.33%;
  display: flex;
  align-self: flex-end;
  margin-bottom: 20px;
  justify-content: space-evenly;
}

.section-container {
  position: relative;
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.section-container.left {
  width: calc(100% - 0px);
  flex-grow: 1;
  flex-basis: 66.666%;
  margin: 0px 0px 40px 0px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.section-container.right {
  width: calc(100% - 0px);
  flex-grow: 1;
  flex-basis: 33.333%;
  display: flex;
  padding-bottom: 20px;
  align-items: center;
  height: max-content;
  position: relative;
}

p {
  margin: 0px 0px 10px 0px;
  font-size: calc(12px + 1.5vmin);
  font-weight: 900;
}

@media screen and (max-width: 900px) {
  .main-container {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  h1 {
    font-size: calc(10px + 4vmin);
  }

  h2 {
    font-size: calc(10px + 2vmin);
  }

  .container-left,
  .container-right {
    flex-basis: auto;
  }

  .container-left {
    align-items: center;
  }

  .container-full-screen {
    width: 100%;
    display: flex;
  }

  .footer {
    background: red !important;
    flex-direction: column !important;
  }
}

/* profile picture */
.profile-picture {
  height: 100px;
  width: 100px;
  zoom: 2;
  border-radius: 50%;
  border: 2px solid rgba(149, 0, 223, 0.72); /* Adjust the width and color as needed */
  box-shadow: 4px 6px 8px rgba(165, 161, 165, 0.7); /* Adjust the shadow properties */
  transition: all 0.3s ease;
}

.profile-picture:hover {
  /*transform: rotateY(360deg);*/
  transform: scale(1.8);
  border-width: 0.5px;
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  height: 100%;
}

.footer {
  background: #282c34;
  position: relative;
  display: flex;
  height: 8rem;
  min-height: max-content;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  align-self: bottom;
  gap: 2rem;
  row-gap: 1rem;
  padding: 1rem;
}

.footer-item {
  display: inline-flex;
  text-align: center;
  height: fit-content;
  justify-content: center;
  gap: 2rem;
}

.footer-item a {
  display: flex;
  flex-direction: row;
  color: white;
  text-decoration: none;
  font-weight: 300;
  font-size: 1rem;
  justify-content: center;
  text-align: top;
  letter-spacing: 1.8px;
  gap: 0.5rem;
}
